= form_for @widget || Widget.new, validate: true do |f|
  .field-wrap
    = f.label :name, class: 'principal-label'
    %input.autocomplete#name-autocomplete{ 'data-validated-by' => 'widget_name', type: 'text', role: 'autocomplete' }
    = f.hidden_field :name, 'data-validate' => true
  .field-wrap
    = f.label :body, class: 'principal-label'
    = f.text_area :body
  %fieldset.field-wrap.composite-field
    %legend Expires on
    = f.validated_date_select :expires_on, {include_blank: true}, {}
    = f.hidden_field :expires_on, 'data-validate' => true

  .field-wrap
    = f.label :required_field
    = f.text_field :required_field

  %fieldset.field-wrap.composite-field.radio-fields
    %legend Preferred station
    - %w(oldies new_wave grunge).each do |station|
      = f.radio_button :station, station
      = f.label "station_#{station}", station.humanize.titleize

  .field-wrap.composite-field.radio-fields
    = f.check_box :feasibility
    = f.label :feasibility

  .field-wrap.composite-field.radio-fields
    - VacationSpot.all.each do |vs|
      = check_box_tag '[vacation_spot_id][]', vs.id, (@widget || Widget.new).vacation_spots.include?(vs), id: "vacation_spot_#{vs.id}", 'data-validated-by' => 'vacation_spot', 'data-pre-validation-callback' => 'atLeastOne("vacation_spot")'
      = f.label vs.name, for: "vacation_spot_#{vs.id}"
      %input#vacation_spot{type: 'hidden'}

  .field-wrap.field-buttons= f.submit



